/* ==========================================================================
   SETUP
   ========================================================================== */
*{
    font-family: Alata;
}

@font-face {
    font-family: Alata;
    src: url(../Alata.ttf);
}
h1{
    font-size: 70px;
    font-weight: normal;
    line-height: 90%;
    letter-spacing: -3%;

    margin: 0px;
    padding: 0px;
}
h2{
    font-size: 30px;
    font-weight: normal;

    margin: 0px;
    padding: 0px;
}
p{
    font-size: 18px;

    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    background-color: #191919;
    display: flex; 
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
a{
    text-decoration: none;
}


.margin{
    margin: 0px 100px;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
#header{
    width: 100%;
    height: 70px;
    background-color: #191919;

    display: flex;
    align-items: center;
    justify-content: center;
}
#header_margin{
    width: 100%;
    margin: 0px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#icon_container{
    gap: 10px;

    display: flex;
    align-items: center;
}
#icon{
    width: 30px;
    height: 35px;
    background-color: #E05153;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#selection{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
#selection p{
    color: #DBDBDB;
}

/* HOVER */
#selection p:hover{
    color: #E05153;
    transform: scale(1.1);
}
#icon_container:hover{
    transform: scale(1.1);
}

#form{
    width: 50%;
    height: 520px;

    display: flex;

    border-radius: 10px;
    overflow: hidden;
}
#form_section{
    width: 50%;
    height: 100%;
    background-color: #DBDBDB;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form_section .container{
    width: 90%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
#headings{
    width: 100%;
    height: 30%;
}

/* INPUT AREA */
#input_area{
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#input_area form{
    width: 100%;
    height: 100%;
    gap: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}
.numfield{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #191919;
    color: #DBDBDB;

    padding: 0px 10px;

    border-radius: 10px;
    border: 0px;
}
#compute{
    width: 60%;
    height: 50px;
    font-size: 18px;
    background-color: #E05153;

    border-radius: 10px;
    border: 0px;
}


#sum{
    width: 100%;
    height: 30%;
    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
}
#sum div{
    width: 100%;
    height: 50px;

    background-color: #191919;  
    border-radius: 10px;
}

#wallpaper{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
#wallpaper img{
    width: auto;
    height: 100%;
}